.cardwinCrown{
    width: 12rem;
    box-sizing: border-box;
    right: 0;
}

.Crown{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Crown img{
    margin-bottom: 2rem;
    width: 100%;
}

